.category-list { list-style-type: disc; columns: 2; -webkit-columns: 2; -moz-columns: 2; list-style-position: inside; }

/* Sticky Content
   ========================================================================== */
.sticky-content {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 0;
}
.sticky-content-title {
    margin: 0;
    margin-left:15px;
}
.placeholder-content {
    height: 1000px;
    background-color: yellow;
    background: linear-gradient(180deg, rgba(174, 174, 164,1) 0%, rgba(52, 66, 95,1) 100%);

}
.placeholder-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 20px;
}
.placeholder-separator {
    margin-top: 3rem;
    margin-bottom: 3rem;
}



#podname {margin-bottom:-15px;}
#rginfo {margin-left:10px; margin-top:-3px;} 

.headd div {padding-left: 20px;}
.headd, .epdiv{
	display: inline-block;
	display: flex;
 	align-items: center;
}
.headd img,  .epdiv img{
  margin-right: 10px; /* adjust as needed */
  margin-left: 10px;
  border-radius:10px;
}
#pod-preview-img{  border-radius:3px;}

#cimg { width:50px ;height:50px}


/*buttons */
#pod-preview-img{margin-right:-20px;}
.b1{ 
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 12px;  
  text-align: center;
  text-decoration: none;
  font-size: 18 px;
  margin: 0 15px;
  cursor: pointer;
}
/*.b1:hover,*/ .followed { background-color:grey;color:white;}

.svg-bell{color: black;}
/*.b2:hover svg,*/ .bellcolor {
  fill: green;
}

.tinyToast {
  color:black;
  background-color: white !important;
  border-radius: 12px !important;
  box-shadow: 5px 10px #2d4d44;
  display:inline-block;
  width:75%;
  text-align:center;
}


#b4-menu{ display:none;}
#b4-menu a{text-decoration:none;}
.ui-menu { width: 150px; z-index:100; margin-left: 250px; position: absolute; }
.b4mspan { float:right;}
#qrimg-container img.zoomed {transform: scale(3.5); }

#ultabs {list-style: none;  padding: 0;margin-bottom:0; display: inline;}
#ultabs li{  margin-right: 10px;display: inline}
#ultabs a{ text-decoration:none;color:white;}
#ultabs [aria-selected="true"] {border-bottom: 3px solid grey;}
#h4sort {margin:8px 0px;}
#tab2page, .tab3page {margin-left: 90px; padding-top:20px; display:block; animation: fadeEffect 1s;}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


::backdrop {
  background-image: linear-gradient(to top, #000000, #000000, #333333, #333333); /*scanline*/
  background-size: cover;
  background-size: 100% 3px; /*100% 1px */
  opacity: 0.75;
}

dialog { width:500px; animation: fadeEffect 0.5s;}
.auto-down { display:inline-block; width:30px; height:30px; overflow:hidden;}
dialog label {display:inline-flex; padding: 6px; padding-left:20px; cursor: pointer; }
#p-markep:hover{background:  #dfdfdf;}
#p-markep {display:block; padding:10px 0; cursor: pointer;}

.rating-footer {
   display:none;
   position: fixed;
   left:10%;
   bottom: 0;
   width: 80%;
   border-radius: 50px 50px 0 0;
   background-color: #2a2a2a;
   color: white;
   text-align: center;
   height:200px;
   animation: slideupAnim .5s;
   overflow:hidden;
}

@keyframes slideupAnim {
  from {transform: translateY(100%);}
  to {transform: translateY(0%);}
  
  transition: .4s ease-in-out;
}

.tab3-image-row {
  width:98%;
  overflow-x: scroll;
  overflow-y:hidden;
  display: flex;
  /*justify-content: space-between; */ /*this will add equal space between each image */
}
.tab3-image-row img {height:130px; width:130px ; border-radius: 20px; }

.tab3-image-row span{color:white; text-align:center; width:130px; display:inline-block; margin-right:25px; margin-bottom: 15px;}

@media only screen and (max-width: 400px) {
	html{overflow:hidden;}
	.tab3page {margin-left:5px;}
	#tab2page {margin-left:15px;}
	.rating-footer {height:130px;}
	.sticky-content { font-size: 21px;}
	p, ul, .b1 { font-size:110%;}
	.b1{margin: 0 5px;}
	.placeholder-content { margin-left:-9px; border-left: 5px solid grey;}
	.sticky-content {margin-left:-11px;  margin-right:-8px;}
	.tab3-image-row img {height:90px; width:90px ;}
	.tab3-image-row span{width:90px;}
}
