body {   padding-left:8rem; color: yellow; background-color:black;}
#backimage{ 
	position:relative;  z-index:-1;
	transform: scale(-1,1);height: 19em; 
	background-image: url('./anubis-svgrepo-com.svg');
	background-size: contain;
	display:block;
background-position: center;
	bottom:257px; right:5%;
	background-repeat: no-repeat;
	opacity: 0.2;
}
ul li{font-size: 90%;color:silver} 
strong{color:white} 
h3 {text-transform: capitalize; letter-spacing: 0.5px;} 

img {
	max-width: 100%;
}

tr:nth-child(even) {
	background-color: rgba(0,0,0,0.3);
}


p{color:lightgray;}  
a { white-space: pre; color: #ba832c; font-weight: bold; letter-spacing: 0.7px}
a:visited {  }
a:hover, a:focus { color: #d3a459; text-decoration: none; }
a *, button * { cursor: pointer; }

p,a{font-size: 15pt; font-weight:500; font-family:  Helvetica, BiauKai, KaiTi; padding:auto;margin:.2em auto;}
h3 {font-size: 35pt; font-weight:800; font-family:Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif}
h1,h2,h3{color:#f6e6cc; }
label, span {font-size:12pt;letter-spacing: 0.7px;}

::selection { background: #745626; }
::-moz-selection { background: #745626; }

pre {
	background: rgba(0,0,0,0.3);
	color: #fff;
	padding: 8px 10px;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	overflow-x: hidden;
}

.ch3{
  position: relative;
  left:65px;
  text-align: left;
  color:Orange;
}

.slide  {
padding-bottom:.7em;
animation: dropIn .8s ease forwards; 
overflow: hidden;
opacity:0;
animation-delay: calc(var(--order) * 60ms);
}
@keyframes dropIn{
 from {opacity: 0; transform: translateX(-50px);}
 to {opacity: 1; transform: translateX(0);}
}

#s2a {line-height: 1.5;}
p{white-space: pre}

.p-year {color:white;font-weight:bold; margin-bottom: -18pt; margin-top: 18pt;}
.a-about{color:black;display:inline-block;margin-left:15em;text-decoration: none;background:white; padding: 0 5px;
	font-family:monospace; font-weight:800; letter-spacing:2px;}
.a-about:hover{background:black;}

@media (max-width: 480px) {
	body{padding-left:2rem;}
	.a-about{margin-left:10em;}
}
@media (max-width: 768px) {
	body{padding-left:5rem;}
}
