<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>users list</p>
<div id="app">
<table><tr>
    <th>#</th>
    <th>id</th>
    <th>name</th>
    <th>addr</th></tr>

<tr align="center" v-for="(user, index) in users"> <!-- (user, index) in users -->
    <td>{{index+1}}</td>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.addr}}</td></tr>
</table>
</div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.15/vue.common.dev.min.js" integrity="sha512-ZdVHCu/RFB4mXXvZsR/NCq1ue4MDysjLqqmDAst/AqmfvE+hBNjbS1lj6hbAt2r0S7NisiN8fIGnrk16Wso5zw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.11/vue.cjs.js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
    new Vue({
        el:"#app",
        data(){
            return{
            	test:"test",
            	users:[]
          };
        },
        mounted(){
            var _this=this;
            console.log("mounted");
            axios({ //async
            	method:"get",
            	url:"http://localhost:8080/api/findAll"
            }).then(function(resp){
                _this.users=resp.data;
                console.log(resp.data);
            })
        }
    })
    </script>
</body>
</html>