.resize-drag, .draggable{
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 8px;
  /*margin: 30px 20px;
*/
  transform: translateX(100px);
  width: 120px;
  /* This makes things *much* easier */
  box-sizing: border-box;
}
.resize-container {
  width: 100%;
  height: 140px;
}
#divp3{height: 60px;}

#p2{
height: 150px;
/*background-color:red;*/
}
#p3{height:55px;width:55px; border-radius: 50%;}
#p3{height: 60px;width:auto; position:absolute}
#floor{ background-color: white; border-style:solid; border-color:black; border-width: 8px;  width:468px; height:382px;
	  transform: translateX(277px); position:absolute; }