html, body {
  height: 100%;
}
input:focus, input[type="checkbox"]:focus + label, button:focus {
    /*background-color: yellow;*/
    border: 3px solid yellow;
}

body {
  margin: 0;
  display: flex;/*-block*/

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
background: #202020;}

.h3-title{z-index:3; position: absolute;}
</style>