
.sonicbids {
  color:  black;
  background-color:gold;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px goldenrod
 } 
 .sonicbids:focus {
      z-index: 2;
      outline: 0.1em dotted black;
      outline-offset: -0.2em;
}
.sonicbids:hover { transition: all 90ms linear;background-color: orange; box-shadow: 0 9px darkgoldenrod}
.sonicbids:active {
  background-color: goldenrod;
  box-shadow: 0 5px darkgoldenrod;
  transform: translateY(4px);
  transition: box-shadow 100ms ease-in, transform 100ms ease-in;
}


/*iota*/
.iota{
  background: transparent;
  /*background: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30% 100%*/
  border-style: solid;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1.46em;
  color: #E6EAEF;
  outline: none;
  position:relative;
  cursor:not-allowed;
  /*transition: transform .2s;*/
  width:9%; height:auto;
}
.iota:hover{ color:black; }
.iota:hover::after{
	content: "";
	padding: 10px 20px;
	border-radius: 1.46em;
	/*margin: 0px 16px;*/
	outline: none;
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	z-index: -2;
	background-color: lightgray;
	animation: iotamove 150ms linear
}
@keyframes iotamove {
 0%   {opacity:0;margin: 0px 25px;}
 100% {opacity:1;margin: 0px 0px;}
}

/*rotate reveal*/
.rr-btn-43,
.rr-btn-43 *,
.rr-btn-43::before,
.rr-btn-43::after{
  border: 0 solid;
  box-sizing: border-box;
}
.rr-btn-43 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.rr-btn-43:disabled {
  cursor: default;
}
.rr-btn-43:-moz-focusring {
  outline: auto;
}
.rr-btn-43 svg {
  display: block;
  vertical-align: middle;
}
.rr-btn-43 [hidden] {
  display: none;
}
.rr-btn-43 {
  border: 1px solid;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 20px 60px;
  position: relative;
  text-transform: uppercase;
}
.rr-btn-43 .rr-new,
.rr-btn-43 .rr-old {
  font-weight: 900;
}
.rr-btn-43 .rr-new {
  background: #fff;
  color: #000;
  content: "";
  display: grid;
  inset: 0;
  opacity: 0;
  place-items: center;
  position: absolute;
  transform: rotate(90deg) translateY(100%);
  transform-origin: bottom left;
  transition: transform 0.2s, opacity 0.2s;
}
.rr-btn-43:hover .rr-new {
  opacity: 1;
  transform: rotate(0deg) translateY(0);
}
.rr-btn-43 .rr-old {
  transition: opacity 0.2s;
}
.rr-btn-43:hover .rr-old {
  opacity: 0;
}

/*alpha xi*/
div.alpha{ display: inline-block; background:#918c8c;border-radius:6px;padding: 7px 16px;}

.alpha .btn {
  display: inline-block;
  margin: 6px;
  font-size: inherit;
  line-height: 1.42;
  padding: 0.8em 1.6em;
  font-weight: normal;
  border-width: 0px;
  border-style: solid;
  background: transparent;
    background-color: transparent;
    background-image: none;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  transition: box-shadow 0.2s, transform 0.2s, color 0.2s;
  outline:none;
}

.alpha .btn-tertiary {
  box-shadow: 0 3px 0 0 #b3004a, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  background-color: #FF006A;
  /*background-image: linear-gradient(-45deg, #FF006A, #ff00aa);*/
  background: linear-gradient(345deg,#ff006a 30%, #fff13d 96%);
  color: #394239;
  font-weight:bolder;
}
.alpha .btn-tertiary:hover {
  box-shadow: 0 3px 0 0 #b3004a, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

.alpha .btn:active {
  transform: translateY(3px);
}
.alpha .btn-tertiary:active {
  /*box-shadow: 0 0px 0 0 #990040, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 6px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;*/
  box-shadow: 0 0 0 rgb(2,9,151) inset;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4) inset;
  background: radial-gradient(circle farthest-corner at bottom center, #af9a9a 8%, #ff006a 90%);
  transition: 0s;
  color: #b3004a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/*github green*/
.github{
                    display: inline-block;
                    outline: 0;
                    cursor: pointer;
                    padding: 5px 16px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    vertical-align: middle;
                    border: 1px solid;
                    border-radius: 6px;
                    color: #ffffff;
                    background-color: #1e992e;
                    border-color: #1b1f2326;
                    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
                    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
                    transition-property: color, background-color, border-color;
                    letter-spacing: 2px;
}
.github:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}
.github:focus {
      z-index: 2;
        outline: 2px dashed white;
  outline-offset: -0.4em;
}

/*flash slide*/

.flash-slide, .flash-slide:hover {  font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;margin-left: 65px; border: medium none;  display: inline-block;  color: rgb(255, 255, 255);  margin: 20px;  width: 180px;  height: 50px;  border-radius: 10px;  position: relative;  overflow: hidden;  text-decoration: none;  text-transform: uppercase;  font-family: Helvetica;  text-align: center; background: darkgoldenrod none repeat scroll 0% 0%}  
.flash-slide::before {  content: "";  position: absolute;  top: -30px;  left: -80px;  height: 100px;  width: 70px;  background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0%;  transform: rotate(20deg);}  
.flash-slide:hover::before {  left: 190px;  transition: all 0.5s ease 0s;}  
.flash-slide{ transform:translateX(-15px);}
/*slide arrow*/
.slide-arrow,
.slide-arrow::after,
.slide-arrow::before {
  border: 0 solid;
  box-sizing: border-box;
}
.slide-arrow {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #53bb6b;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 1.3px;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.slide-arrow:-moz-focusring {
  outline: auto;
}
.slide-arrow [hidden] {
  display: none;
}
.slide-arrow {
  --height: 80px;
  background: none;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  height: var(--height);
  -webkit-mask-image: none;
  padding: 0 3rem;
  position: relative;
  text-transform: uppercase;
}
.slide-arrow span{ display:flex;  transform:translateX(0); transition: 0.2s;}
.slide-arrow:hover span{
 color:white;
 transform:translateX(25px);
 font-size: 140%;
}
.slide-arrow::after {
  background: #53bb6b;
  border-radius: 50px;
  content: "";
  color:white;
  height: calc(var(--height) / 1.7);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-2px, -50%);
  transition: 0.2s;
  width: calc(var(--height) / 1.7);
  border-radius: 0 35px 35px 0;
}
.slide-arrow:hover::after {
  left: 0;
  width: 100%;
  z-index:-2;
}

.slide-arrow::before{
	z-index:2;
	content:"\27A5";
	color: lightgreen;
  	left:0;
	position: absolute;
	top: 50%;
  	/*transform: translate(80%, -60%);*/
  	transform: translate(10%, -55%);
	font-size: 2rem;
	transition: 0.2s;
}
.slide-arrow:hover::before{
	transform: translate(35%, -55%);
	color: white;
	content: "\27A4";
}

/*3d  flip down*/
/*flip down*/
.flip-down{
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
}  
  .flip-down:hover::after{
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
    
    .flip-down:hover::before{
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  
 .flip-down:after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  
  .flip-down:before{
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
.flip-down{transform:translateX(20px)}

/*blue gradient extend*/
.blue-gradient{
	color:gray;
	position: relative;
	transform:translate(20%,10%);
	/*transform:translate(150%,250%);*/
	padding: 0.5em 1em;
	border: 1px solid #d4d4d4;
	border-top: none;
	margin: 0;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	outline: none;
	background-clip: padding-box;
	border-radius: 0.2em;
	/*zoom: 1;*/
	display: inline-block;
	height: 100%;
	transition:.15s;
}
.blue-gradient:hover{	
	border-color: transparent transparent white;
	border-radius:5px;
	/*
	border-bottom-color: rgb(48, 114, 179);
	border-bottom-color: #2a65a0;
	*/
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	/*background-color: #3c8dde;
	background-image: linear-gradient(#599bdc, #3072b3);*/
}
.blue-gradient::before{
    position: absolute;
	bottom: 0;
	left: 0;
    border-radius: 0.2em;
    height:350%;
    width: 100%;
    z-index: -2;
	text-align: center;
    content:" ";
    background-color:transparent;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 32%, rgba(60,156,252,0) 71%, rgba(57,142,228,0) 70%, rgba(54,127,201,0.39) 88%, rgba(54,127,201,0.91) 100%);
}
.blue-gradient:hover::before{
background: linear-gradient(to bottom, rgba(60,156,252,0) 19%, rgba(60,156,252,0.58) 71%, rgba(54,127,201,0.78) 88%, rgba(54,127,201,0.91) 100%);
background: linear-gradient(to bottom, rgba(39,34,26,0) 15%, rgba(39,34,26,0.06) 24%, rgba(44,66,86,0.19) 46%, rgba(54,127,201,0.85) 88%, rgba(54,127,201,0.91) 92%);

}

/*body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-top: 2rem;
}*/

/*cyber glitch effect*/
.cyber-div {
  box-sizing: border-box;
  transform:scale(80%);
  position:relative;
  background:yellow;
  display:inline-flex;
  padding: 25px;
  margin-left: -1em;
}

.cybr-btn {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  color: white;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 300px;
  height: 75px;
  line-height: 75px;
}

.cybr-btn:hover {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}
.cybr-btn:after,
.cybr-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}
.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}
.cybr-btn:after {
  background: var(--primary);
  background:#5B13EC; /*purple*/
}
.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}
.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: cybrglitchAnim 2s infinite;
  display: none;
}
.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}
.cybr-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  background:green;
  background:#5B13EC; /*pruple*/
  z-index: -1;
}
@keyframes cybrglitchAnim {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8%{
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9%{
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10%{
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13%{
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21%{
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25%{
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30%{
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45%{
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40%{
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50%{
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55%{
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60%{
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100%{
    clip-path: var(--clip-four);
  }
}
.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}


/*rocker switch*/
.rocker-div{
  box-sizing: border-box;
  display:inline-flex;
  margin-left: 2px;
  margin-top:-2em;
}
.rocker-container, .rocker-container * {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:1em;
  box-sizing: border-box;
  font-size: 100%;
  font-weight:bolder;
  margin:0;
  padding:0;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: .75em; /* Sizes the switch */
  font-size: 1em; 
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee; 
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  user-select: none;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0; /*blue*/
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

/*mobile toggle switch*/
.mt-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.mt-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.mt-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.mt-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .mt-slider {
  background-color: #2196F3;
}

input:focus + .mt-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .mt-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*	 Rounded sliders */
.mt-slider.round {
  border-radius: 34px;
}

.mt-slider.round:before {
  border-radius: 50%;
}


/*toggle switch with text inside*/
    .toggle-sliding-text {
      position: relative;
      display: inline-block;
      width: 5em;
      height: 1.5em;
      cursor: pointer;
      left:20px;
    }

    .toggle-sliding-text input {
      display: none;
    }

    .toggle-sliding-text .slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ccc;
      transition: all 0.2s ease-in-out;
    }

    .toggle-sliding-text .slider::before {
      content: "";
      position: absolute;
      top: 0;
      left:0;
      background-color: #fff;
      width:12px;
      height:100%;
      transform: translateX(0);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      transition: all 0.2s ease-in-out;
    }

    .toggle-sliding-text input:checked+.slider {
      background-color: #f37521;
    }

    .toggle-sliding-text input:checked+.slider::before {     
    transform: translateX(4.3em);
    }

    .toggle-sliding-text .labels {
      position: absolute;
      top: 5px;
      left: 0;
      width:100%;
      height:100%;
      font-size: 12px;
      transition: all 0.2s ease-in-out;
      overflow: hidden;
    }

    .toggle-sliding-text .labels::after {
      content: attr(data-off);
      position: absolute;
      right: 5px;
      color: #4d4d4d;
      opacity: 1;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      transition: all 0.2s ease-in-out;
    }

    .toggle-sliding-text .labels::before {
      content: attr(data-on);
      position: absolute;
      left:-3em;
      top:0;
      color: #ffffff;
      opacity: 0;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
      transition: all 0.2s ease-in-out;
    }

    .toggle-sliding-text input:checked~.labels::after {
      opacity: 0;
      transform: translateX(3.5em);
    }

    .toggle-sliding-text input:checked~.labels::before {
      opacity: 1;
      transform: translateX(3.5em);
    }

/*gray color*/
.grey-button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.grey-button:hover {
    background-color: #ddd;
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.grey-button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.grey-button:focus {
    outline: 0;
    background: #fafafa;
}

.grey-button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
}

.grey-button.star::before {
  content: "\2605";
}

/*win7*/
.win7-div{display:block; marign-left:100px;}
.win7-div a,
.win7-div a:hover,
.win7-div a:focus,
. win7-div a:active {
  text-decoration: none;
  color: #555;
}

.win7-btn {
  text-align:center;
  font-family: 'Calibri';
  font-weight:bolder;
  font-size:20px;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 3px 15px 3px 15px;
  /*white*//*
  background: #f2f2f2;
  background: linear-gradient(to bottom, #f2f2f2 0%, #ebebeb 42%, #dddddd 47%, #cfcfcf 100%);
  transition: all 0.1s ease-in;
  border: 1px solid #707070;*/
  /*red*/
  background: linear-gradient(to bottom, #fba4a4 0%, #e87d7d 42%, #ce3d3d 47%, #ee3030 58%, #f4e0e0 100%);
  border: 1px solid #B7A2A2;
  box-shadow: 0 0 3px #DB5050;
}

.win7-btn:hover,
.win7-btn:focus {
  outline: 0;
/*blue glow*//*
  background: #eaf6fd;
  background: linear-gradient(to bottom, #eaf6fd 0%, #d9f0fc 42%, #bee6fd 47%, #bce5fc 58%, #a7d9f5 100%);
  border: 1px solid #3C7FB1;
  box-shadow: 0 0 3px #A7D9F5;
  mix-blend-mode:difference;
*/
  mix-blend-mode:plus-lighter;
}

.win7-btn:active {
  /*box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.2), inset 0 -0.7em #BEE6FD, 0 0 3px #A7D9F5;*/
  mix-blend-mode: difference;
}
.win7-div{
  position: relative;
  display: inline-block;
  left:20px;
}

/*flip card*/
.flip-card {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  position:relative;  
  left:30px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: translateX(73%) rotateY(110deg);/*hinge position*/
}

.flip-card:hover::before{
	position: absolute;
    height:91%;
  	widht:100%;
	top: 0;
	left: 0;
    right:0;
    bottom:0;
    z-index:-2;
    white-space: pre-wrap;
    /*text underneath w/red background*/
  content:"\A\A Text Not Centered \A\A Figure";
  color:white;
  text-align:center;
  justify-content: center; 
  margin: auto;
  font-weight:bolder;
  font-size:21px;
  background-color:red;
  animation: flipCardOpacity 0.2s linear;
  box-shadow: 5px 5px 20px black inset;
}

@keyframes flipCardOpacity{
0%   {opacity:0;}
 100% {opacity:1;}
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front, .flip-card-front h2 {
  background-color: #bbb;
  color: black;    
  display:flex;
}
.flip-card-front h2{
	transform: rotate(45deg);
}
.flip-card-front h2, .flip-card-back .flip-card-back-text {
  text-align:center;
  justify-content: center; 
  margin: auto;
}
.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display:flex;
}

/*tron perspective spin*/
.tron-spinner-contain{
 position: relative;
  height: 100px;/*150px*/
  width: 150px;
  margin-left: 30px;
  perspective: 100px;
  /*background:black;*/
}
  
.tron-spinner{
  padding: 50px;
  position: absolute;
  border: 1px solid white;
  background:transparent;
  transform-style: preserve-3d;
  transform: rotateX(55deg) rotateY(5deg);
  border-radius:50px;
  display:none;
}

.tron-spinner-top {
  padding: 50px;
  position: absolute;
  top:-3px;
  background:transparent;
  transform-style: preserve-3d;
  /*border-bottom: 5px solid green;*/
  border:none;
  transform: rotateX(55deg) rotateY(5deg) rotateZ(270deg);
  border-radius:50px;
  z-index:2;
  animation: spinner-top-rotate 1.2s infinite;
  --color1:gold;
  --color2:dodgerblue;
  border-right: 5px solid var(--color2);
  
  }

@keyframes spinner-top-rotate{
0%{
    transform: rotateX(55deg) rotateY(5deg) rotateZ(5deg);
  }
  40%{transform: rotateX(55deg) rotateY(5deg) rotateZ(270deg);}
  45%{
    border-right: 5px solid var(--color1);
    transform: rotateX(55deg) rotateY(5deg) rotateZ(365deg);
  }
  60%{
    transform: rotateX(55deg) rotateY(5deg) rotateZ(630deg);
  }
  
  65%{
    border-right: 5px solid var(--color2);
    transform: rotateX(55deg) rotateY(5deg) rotateZ(720deg);
  }
  87%{
    transform: rotateX(55deg) rotateY(5deg) rotateZ(970deg);
  }
  100%{
  transform: rotateX(55deg) rotateY(5deg) rotateZ(999deg);
  }
}

.tron-spinner-text{
	cursor:pointer;
	color:white;z-index:4;
	padding: 20px;
	text-align:center;
	margin:0;
  position: absolute;
  top:6px;
  left:-20px;
  font-size:40px;
  display: inline-block;
  transform: scale(.7, 2);
  background:transparent;text-decoration: none;
  animation: spinner-text-rotate 1.2s infinite;
  }
    @keyframes spinner-text-rotate{
    0%{transform: rotateX(65deg) rotateY(2deg) rotateZ(0deg);}

    100%{transform: rotateX(60deg) rotateY(3deg) rotateZ(360deg);}
    }
  
